@model List<RestaurantManagement1.Models.Customers>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Active Customers</title>
    <script src="~/Content/bootstrap/js/bootstrap.js"></script>
    <script src="~/Scripts/jquery/jquery.js"></script>
    <script src="~/Scripts/validate.js/validate.js"></script>
    <script src="~/Scripts/validate.js/validate.min.js"></script>
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/select2-bootstrap-theme/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/select2-bootstrap-theme/select2-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        td, tr {
            text-align: center;
        }

        .nav-item {
            margin-right: 20px;
        }
    </style>

    <script>
        
        window.onload = function () {
            setTimeout(function () {
                var errorMessage = document.getElementById('error-message');
                if (errorMessage) {
                    errorMessage.style.display = 'none';
                }
            }, 2000); 
        };
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <button class="btn btn-light" type="button" onclick="location.href='@Url.Action("Index2","Home")'">Employees</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-light" type="button" onclick="location.href='@Url.Action("Index3","Home")'">Active Customers</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-light" type="button" onclick="location.href='@Url.Action("Reservations","Home")'">Reservations</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-light" type="button" onclick="location.href='@Url.Action("DepartedCustomers","Home")'">Departed Customers</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <div class="container">
        @if (TempData["ErrorMessage"] != null)
        {
            <div id="error-message" class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
        </div>


        <h1 style="text-align:center">Active Customers</h1> <br />

        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Customer ID</th>
                    <th>Reservation ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customers in Model)
                {
                    <tr>
                        <td>@customers.CustomerID</td>
                        <td>@customers.ReservationID</td>
                        <td>@customers.FirstName</td>
                        <td>@customers.LastName</td>
                        <td>@customers.Phone</td>
                    </tr>
                }


            </tbody>
        </table>

</body>
</html>
